$pallete: (
  darkRed: #B80118,
  orange: #FF3400,
  lightOrange: #fe8e72,
  lightPink: #FFA59D,
  darkGreen: #6b8645,
  green: #B6D01D,
  lightYellow: #F8DD7E,
  darkGrey: #3c3c3c,
  baseGrey: #CECECE,
  lightGrey: #EBEBEB,
);
